* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body,
html {
  position: fixed;
  overflow: hidden;
}

#loading {
  background: black;
  color: yellow;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-image: url(textures/p1.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

#loading > div {
  padding: 20px 30px;
}

p {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 10px;
}

.hide {
  display: none;
}

.loader {
  margin: auto;
  width: 50%;
  height: 50%;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#loadingMessage {
  position: absolute;
  top: 20%;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 100;
  color: rgb(8, 22, 224);
  transform: translateZ(0);
}
